<div class="m-4 row">

    <div class="col-lg-2">
        <button>Học ngay</button>
    </div>
    <div class="col-lg-10">
        <h2>{{course.name}}</h2>
        <div class="mw-100">
            <iframe class="col-12 " height="500px" src="https://www.youtube.com/embed/{{course.video}}?autoplay=1"
                title="[Playlist]🔥(thỏ 7 màu) cô gái này là của ai?.., yêu anh đi mẹ anh bán bánh mì, ghé vào tai, gió"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

        <p>{{course.description}}</p>
    </div>

</div>